/* ========== ПОДКЛЮЧЕНИЕ ШРИФТА INTER (VARIABLE) ========== */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../fonts/Inter-VariableFont_opsz_wght.woff') format('woff2');
}