/* ========== ФУТЕР ========== */
.footer {
    background: #101f2c;
    color: #90a3b2;
    padding: 48px 0 24px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer__links {
    display: flex;
    gap: clamp(1rem, 0.5909rem + 1.8182vw, 2rem);
}

.footer__links a {
    color: #90a3b2;
    text-decoration: none;
    font-size: clamp(0.75rem, 0.6989rem + 0.2273vw, 0.875rem);
}

.footer__links a:hover {
    color: white;
}

