/* ========== КНОПКА "НАВЕРХ" ========== */
.go-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(26, 44, 62, 0.85);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    /* mix-blend-mode: difference; */
}

.go-top.show {
    opacity: 1;
    visibility: visible;
}

.go-top:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-8px);
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Стрелка-уголок через before и after */
.go-top::before,
.go-top::after {
    content: '';
    position: absolute;
    background: #ffffff;
    border-radius: 2px;
}

/* Левая линия уголка */
.go-top::before {
    width: 14px;
    height: 2px;
    transform: rotate(-45deg);
    top: 28px;
    left: 17px;
}

/* Правая линия уголка */
.go-top::after {
    width: 14px;
    height: 2px;
    transform: rotate(45deg);
    top: 28px;
    right: 17px;
}

/* При наведении линии остаются белыми */
.go-top:hover::before,
.go-top:hover::after {
    /* background: #5a5959; */
    mix-blend-mode: difference;
}